* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #000;
}
body.lightmode {
  background-color: #dbf1fd;
}
:root {
  --main-color: #ff8a00;
  --section-padding: 40px;
}
/* start side bar */
aside {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  background-color: #28292beb;
  bottom: 0;
  text-align: center;
  border-right: 3px solid var(--main-color);
}
aside.lightmode {
  background-color: #fff;
}
aside .logo {
  height: 35%;
}
aside span {
  font-family: "Clicker Script", cursive;
  color: #fff;
  display: inline-block;
  margin-top: 60px;
  font-size: 2em;
  font-weight: bold;
  position: relative;
}
aside.lightmode span {
  color: #000;
}
aside span::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--main-color);
  border-right: 5px solid var(--main-color);
  position: absolute;
  top: -12px;
}
aside span::before {
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--main-color);
  border-left: 5px solid var(--main-color);
  position: absolute;
  top: 25px;
  left: -25px;
}
aside ul {
  padding-left: 0px;
}
aside ul li {
  list-style: none;
  padding: 15px;
  display: inline-block;
  background-color: #252525;
  width: 150px;
  transition: 0.3s;
  margin: 10px;
  box-shadow: 0 0 10px 5px #141414;
  position: relative;
  left: 0;
  cursor: pointer;
  border-radius: 5px;
  text-align: initial;
  padding-left: 8%;
}
aside.lightmode ul li {
  background-color: #f9f6ff;
  box-shadow: 0 0 10px 5px #bdbdbd;
}
aside ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
aside.lightmode ul li a {
  color: #000;
}
aside ul li i {
  color: #fff;
  margin-right: 8px;
}
aside.lightmode ul li i {
  color: #000;
}
aside ul li:hover a,
aside ul li:hover i {
  color: var(--main-color);
}
aside ul li:hover {
  left: 8px;
  background-color: #323232;
  box-shadow: 0 0 10px 1px var(--main-color);
}
aside.lightmode ul li:hover {
  background-color: #e5e5e5;
}
/* end side bar */
/* start settings */
.settings {
  position: fixed;
  width: 265px;
  right: -275px;
  top: 35px;
  /* height: 20px; */
  background-color: #3a3a3a;
  border-radius: 6px;
  z-index: 7;
  transition: 0.5s;
}
.settings.lightmode {
  background-color: #fffcfc;
}
.settings.remove {
  right: 10px;
}
.settings h3 {
  margin: 0;
  padding: 10px 20px 0;
  color: #fff;
  font-weight: 800;
}
.settings.lightmode h3 {
  color: rgb(0, 0, 0);
}
.settings .settings-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* height: 100px; */
  padding: 20px;
}
.settings .settings-content span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  opacity: 0.6;
  cursor: pointer;
}
.settings .settings-content span:nth-child(1) {
  background-color: #37b182;
}
.settings .settings-content span:nth-child(2) {
  background-color: #1854b4;
}
.settings .settings-content span:nth-child(3) {
  background-color: #f021b2;
}
.settings .settings-content span:nth-child(4) {
  background-color: #ec1839;
}
.settings .settings-content span:nth-child(5) {
  background-color: #ff8a00;
}
.settings .settings-content span.active,
.settings .settings-content span:hover {
  opacity: 1;
  box-shadow: 0 0 13px 3px var(--main-color);
}
.settings .fa-gear,
.settings .fa-sun {
  width: 40px;
  height: 40px;
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -60px;
  font-size: x-large;
  color: var(--main-color);
  cursor: pointer;
  caret-color: transparent;
  box-shadow: 0 0 5px 1px #fff;
}
.settings .fa-gear:hover,
.settings .fa-sun:hover {
  box-shadow: 0 0 10px 3px;
}
.settings.lightmode .fa-gear,
.settings.lightmode .fa-sun {
  background-color: #fff;
  box-shadow: 0 0 5px 1px #000;
}
.settings .fa-sun {
  top: calc(100% - 40px - 10px);
}
/* end settings */
/* start homepage */
.home-page {
  position: relative;
  left: 100%;
  display: none;
  width: calc(100% - 300px);
  padding: var(--section-padding);
  justify-content: space-between;
  margin-top: 130px;
}
.home-page.active {
  left: 300px;
  display: flex;
}
.home-page .homeContent {
  color: #fff;
}
.home-page.lightmode .homeContent {
  color: #000;
}
.home-page .homeContent h1 span {
  font-family: "Clicker Script", cursive;
  color: var(--main-color);
}
.home-page .homeContent p {
  font-weight: 600;
}
.home-page .homeContent span.btn {
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 50px;
  display: inline-block;
  font-weight: bold;
  box-shadow: 0 0 10px 1px #fff;
  cursor: pointer;
  margin-top: 20px;
}
.home-page.lightmode .homeContent span.btn {
  box-shadow: 0 0 10px 1px #000;
}
.home-page .homeContent span.btn:hover {
  box-shadow: 0 0 20px 6px var(--main-color);
}
.home-page .homeImg {
  position: relative;
  max-height: 222px;
  margin-right: 50px;
}
.home-page .homeImg::after {
  content: "";
  position: absolute;
  border-right: 10px solid var(--main-color);
  border-bottom: 10px solid var(--main-color);
  width: 80px;
  height: 80px;
  bottom: -40px;
  right: 0;
}
.home-page .homeImg::before {
  content: "";
  position: absolute;
  border-left: 10px solid var(--main-color);
  border-top: 10px solid var(--main-color);
  width: 80px;
  height: 80px;
  top: -40px;
}
.home-page .homeImg img {
  width: 265px;
  height: 222px;
  border-radius: 5px;
  margin: 0 40px;
}
/* end homepge */
/* start about page */
.about-page {
  position: relative;
  width: calc(100% - 300px);
  padding: var(--section-padding);
  left: 300px;
}
.about-page h1 {
  color: #fff;
  position: relative;
}
.about-page.lightmode h1 {
  color: #000;
}
.about-page h1::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -10px;
}
.about-page h1::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -17px;
  left: 0;
}
.about-page h1 + h3 span {
  color: var(--main-color);
}
.about-page h1 + h3 {
  color: #fff;
  margin-top: 43px;
}
.about-page.lightmode h1 + h3 {
  color: rgb(0, 0, 0);
}
.about-page p.text-about {
  color: #b5b5b5;
  line-height: 1.8;
}
.about-page.lightmode p.text-about {
  color: #000;
}
.about-page .about-data {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 60px 0;
}
.about-page.lightmode .about-data {
  color: rgb(0, 0, 0);
}
.about-data .data {
  flex-basis: 55%;
  display: flex;
  flex-wrap: wrap;
}
.about-data .skills-lang {
  flex-basis: 40%;
}
.about-data .data div {
  flex-basis: 50%;
}
.about-data .data div span {
  color: rgb(120 120 120);
}
.about-data .data button {
  outline: 0;
  border: 0;
  border-radius: 24px;
  padding: 3px 27px;
  margin: 15px 26px 0px;
  font-weight: bold;
  box-shadow: 0 0 10px 1px #fff;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  height: 40px;
}

.about-page.lightmode .about-data .data button {
  box-shadow: 0 0 10px 1px #000;;
}
.about-page .about-data .data button:hover {
  box-shadow: 0 0 10px 2px var(--main-color);
}
.about-page .skills-lang .skill {
  margin-bottom: 30px;
}
.about-page .skills-lang .skill h4 {
  margin: 0px 0px 5px;
}
.about-page .skills-lang .skill div:nth-child(2) {
  width: 100%;
  background-color: #c8c8c8;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.about-page .skills-lang .skill span.overlay {
  position: absolute;
  height: 100%;
  transition: 0.5s;
  background-color: var(--main-color);
}
.about-page .skills-lang .skill span.percentage {
  color: var(--main-color);
}
.about-page .skills-lang .skill .data-skill {
  display: flex;
  justify-content: space-between;
}
.about-page .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.about-page .container .col {
  flex-basis: 47%;
}
.about-page .container .col h2 {
  color: #fff;
}
.about-page.lightmode .container .col h2 {
  color: #000;
}
.about-page .container .data-Edu-Exp {
  background-color: #28292beb;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 12px 1px var(--main-color);
  color: white;
  position: relative;
  margin-top: 40px;
}
.about-page .container .data-Edu-Exp::before {
  content: "";
  height: calc(100% - 75px);
  position: absolute;
  width: 3px;
  background-color: var(--main-color);
}
.about-page.lightmode .container .data-Edu-Exp {
  background-color: #fff;
  box-shadow: 0 0 12px 1px var(--main-color);
  color: rgb(0, 0, 0);
}
.about-page .container .box {
  margin-left: 30px;
  position: relative;
  margin-bottom: 50px;
}
.about-page .container .box::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  position: absolute;
  left: -36.5px;
  background-color: white;
}
.about-page .container .box p {
  line-height: 1.7;
  color: rgb(120 120 120);
}
.about-page .container .box i {
  margin-right: 10px;
}
.about-page .container .box h4 {
  font-weight: bold;
}
/* end about page */
