* {
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}
body {
  background-color: #28292bdb;
  overflow-x: hidden;
}
body.lightmode {
  background-color: rgb(234, 234, 234);
}
:root {
  --main-color: #ff8a00;
  --section-padding: 45px;
}
/* start general style section */
.generalStyleSec {
  position: absolute;
  left: 100%;
  width: calc(100% - 300px);
  padding: var(--section-padding);
  transition: 0.5s;
  display: none;
  background-color: #000;
  min-height: 100vh;
  border-left: 3px solid var(--main-color);
}
@media (max-width: 576px) {
  .generalStyleSec {
    padding: 20px;
  }
}
.generalStyleSec.lightmode {
  background-color: #dbf1fd;
}
.generalStyleSec.active {
  display: block;
}
.generalStyleSec.scroll-x {
  left: 300px;
}
@media (max-width: 768px) {
  .generalStyleSec.active {
    width: 100%;
    left: 0;
  }
}
/* end general style section */
/**start icon bar*/
.fa-bars {
  position: fixed;
  top: 10px;
  left: -25px;
  z-index: 10;
  font-size: xx-large;
  padding: 8px;
  background-color: #28292bdb;
  color: var(--main-color);
  border-radius: 10px;
  display: none;
  cursor: pointer;
  color: var(--main-color);
  box-shadow: 0 0 15px 5px var(--main-color);
  caret-color: transparent;
  transition: 0.3s;
}
.fa-bars:hover {
  background-color: var(--main-color);
  color: #000;
  left: 10px;
}
.fa-bars.lightmode {
  background-color: rgba(255, 255, 255, 0.874);
}
@media (max-width: 768px) {
  .fa-bars {
    display: block;
  }
}
/*end icon bars */
/* start h1 page  */

h1.h1-style {
  color: #fff;
  position: relative;
}
h1.h1-style.lightmode {
  color: #000;
}
h1.h1-style::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -10px;
}
h1.h1-style::after {
  content: "";
  position: absolute;
  width: 38px;
  height: 4px;
  background-color: var(--main-color);
  bottom: -17px;
  left: 0;
}
/* end h1 page  */
/* start side bar */
aside {
  position: fixed;
  width: 300px;
  top: 0;
  left: 0;
  background-color: #28292beb;
  bottom: 0;
  text-align: center;
  border-right: 1px solid var(--main-color);
  transition: 0.3s;
  z-index: 9;
}
aside.lightmode {
  background-color: #fff;
}
aside .logo {
  height: 35%;
}
aside.active {
  left: 0;
  background-color: #000;
}
aside.lightmode.active {
  background-color: #fff;
}
aside span {
  font-family: "Clicker Script", cursive;
  color: #fff;
  display: inline-block;
  margin-top: 60px;
  font-size: 2em;
  font-weight: bold;
  position: relative;
}
aside.lightmode span {
  color: #000;
}
aside span::after {
  content: "";
  width: 20px;
  height: 20px;
  border-top: 5px solid var(--main-color);
  border-right: 5px solid var(--main-color);
  position: absolute;
  top: -12px;
}
aside span::before {
  content: "";
  width: 20px;
  height: 20px;
  border-bottom: 5px solid var(--main-color);
  border-left: 5px solid var(--main-color);
  position: absolute;
  top: 25px;
  left: -25px;
}
aside ul {
  padding-left: 0px;
}
aside ul li {
  list-style: none;
  padding: 15px;
  display: inline-block;
  background-color: #252525;
  width: 150px;
  transition: 0.3s;
  margin: 10px;
  box-shadow: 0 0 10px 5px #141414;
  position: relative;
  left: 0;
  cursor: pointer;
  border-radius: 5px;
  text-align: initial;
  padding-left: 8%;
}
aside.lightmode ul li {
  background-color: #f9f6ff;
  box-shadow: 0 0 10px 5px #bdbdbd;
}
aside ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
aside.lightmode ul li a {
  color: #000;
}
aside ul li i {
  color: #fff;
  margin-right: 8px;
}
aside.lightmode ul li i {
  color: #000;
}
aside ul li:hover a,
aside ul li:hover i {
  color: var(--main-color);
}
aside ul li:hover {
  left: 8px;
  background-color: #323232;
  box-shadow: 0 0 10px 1px var(--main-color);
}
aside.lightmode ul li:hover {
  background-color: #e5e5e5;
}
@media (max-width: 768px) {
  aside {
    left: -300px;
  }
}
/* end side bar */
/* start settings */
.settings {
  position: fixed;
  width: 265px;
  right: -275px;
  top: 35px;
  /* height: 20px; */
  background-color: #3a3a3a;
  border-radius: 6px;
  z-index: 7;
  transition: 0.5s;
}
.settings.lightmode {
  background-color: #fffcfc;
}
.settings.remove {
  right: 10px;
}
.settings h3 {
  margin: 0;
  padding: 10px 20px 0;
  color: #fff;
  font-weight: 800;
}
.settings.lightmode h3 {
  color: rgb(0, 0, 0);
}
.settings .settings-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.settings .settings-content span {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  opacity: 0.6;
  cursor: pointer;
}
.settings .settings-content span:nth-child(1) {
  background-color: #37b182;
}
.settings .settings-content span:nth-child(2) {
  background-color: #1854b4;
}
.settings .settings-content span:nth-child(3) {
  background-color: #f021b2;
}
.settings .settings-content span:nth-child(4) {
  background-color: #ec1839;
}
.settings .settings-content span:nth-child(5) {
  background-color: #ff8a00;
}
.settings .settings-content span.active,
.settings .settings-content span:hover {
  opacity: 1;
  box-shadow: 0 0 13px 3px var(--main-color);
}
.settings .fa-gear,
.settings .fa-sun {
  width: 40px;
  height: 40px;
  background-color: #3a3a3a;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: absolute;
  top: 10px;
  left: -60px;
  font-size: x-large;
  color: var(--main-color);
  cursor: pointer;
  caret-color: transparent;
  box-shadow: 0 0 5px 1px #fff;
}

.settings.lightmode .fa-gear,
.settings.lightmode .fa-sun {
  background-color: #fff;
  box-shadow: 0 0 5px 1px #000;
}
.settings .fa-gear:hover,
.settings .fa-sun:hover {
  box-shadow: 0 0 10px 3px var(--main-color);
  background-color: var(--main-color);
  color: #fff;
}
.settings .fa-sun {
  top: calc(100% - 40px - 10px);
}
/* end settings */
/* start homepage */
.home-page {
  padding-top: 130px;
  justify-content: space-between;
}
.home-page.active {
  display: flex;
}

.home-page .homeContent {
  color: #fff;
}
.home-page.lightmode .homeContent {
  color: #000;
}
@media (max-width: 542px) {
  .home-page .homeContent h1 {
    font-size: 20px;
  }
}
.home-page .homeContent h1 span {
  font-family: "Clicker Script", cursive;
  color: var(--main-color);
}
.home-page .homeContent p {
  font-weight: 600;
}
.home-page .homeContent span.btn {
  padding: 20px;
  background-color: var(--main-color);
  border-radius: 50px;
  display: inline-block;
  font-weight: bold;
  box-shadow: 0 0 10px 1px #fff;
  cursor: pointer;
  margin-top: 20px;
}
.home-page.lightmode .homeContent span.btn {
  box-shadow: 0 0 10px 1px #000;
}
.home-page .homeContent span.btn:hover {
  box-shadow: 0 0 20px 6px var(--main-color);
}
.home-page .homeImg {
  position: relative;
  max-height: 222px;
  margin-right: 50px;
  width: fit-content;
}
.home-page .homeImg::after {
  content: "";
  position: absolute;
  border-right: 10px solid var(--main-color);
  border-bottom: 10px solid var(--main-color);
  width: 80px;
  height: 80px;
  bottom: -40px;
  right: 0;
}
.home-page .homeImg::before {
  content: "";
  position: absolute;
  border-left: 10px solid var(--main-color);
  border-top: 10px solid var(--main-color);
  width: 80px;
  height: 80px;
  top: -40px;
}
.home-page .homeImg img {
  width: 265px;
  height: 222px;
  border-radius: 5px;
  margin: 0 40px;
}
@media (max-width: 768px) {
  .home-page .homeImg img {
    width: 178px;
    height: 152px;
  }
}
@media (max-width: 992px) {
  .home-page {
    flex-direction: column;
    align-items: center;
  }
  .home-page .homeContent {
    order: 2;
  }
  .home-page .homeImg {
    order: 1;
    margin: 0 0 50px 0;
  }
}
/* end homepge */
/* start about page */
.about-page h1 + h3 span {
  color: var(--main-color);
}
.about-page h1 + h3 {
  color: #fff;
  margin-top: 43px;
}
.about-page.lightmode h1 + h3 {
  color: rgb(0, 0, 0);
}
.about-page p.text-about {
  color: #b5b5b5;
  line-height: 1.8;
}
.about-page.lightmode p.text-about {
  color: #000;
}
.about-page .about-data {
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin: 60px 0;
}
@media (max-width: 992px) {
  .about-page .about-data {
    flex-direction: column;
  }
}
.about-page.lightmode .about-data {
  color: rgb(0, 0, 0);
}
.about-data .data {
  flex-basis: 55%;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 992px) {
  .about-data .data {
    margin-bottom: 60px;
    flex-direction: column;
  }
}
.about-data .skills-lang {
  flex-basis: 40%;
}
.about-data .data div {
  flex-basis: 50%;
}
@media (max-width: 992px) {
  .about-data .data div {
    margin-bottom: 20px;
  }
}
.about-data .data div span {
  color: rgb(120 120 120);
}
.about-data .data button {
  outline: 0;
  border: 0;
  border-radius: 24px;
  padding: 3px 27px;
  margin: 15px 26px 0px;
  font-weight: bold;
  box-shadow: 0 0 10px 1px #fff;
  cursor: pointer;
  background-color: var(--main-color);
  color: #fff;
  height: 40px;
}

.about-page.lightmode .about-data .data button {
  box-shadow: 0 0 10px 1px #000;
}
.about-page .about-data .data button:hover {
  box-shadow: 0 0 10px 2px var(--main-color);
}
.about-page .skills-lang .skill {
  margin-bottom: 30px;
}
.about-page .skills-lang .skill h4 {
  margin: 0px 0px 5px;
}
.about-page .skills-lang .skill div:nth-child(2) {
  width: 100%;
  background-color: #c8c8c8;
  height: 10px;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.about-page .skills-lang .skill span.overlay {
  position: absolute;
  height: 100%;
  transition: 0.5s;
  background-color: var(--main-color);
}
.about-page .skills-lang .skill span.percentage {
  color: var(--main-color);
}
.about-page .skills-lang .skill .data-skill {
  display: flex;
  justify-content: space-between;
}
.about-page .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .about-page .container {
    flex-direction: column;
  }
}
.about-page .container .col {
  flex-basis: 47%;
  margin-bottom: 80px;
}
.about-page .container .col h2 {
  color: #fff;
}
.about-page.lightmode .container .col h2 {
  color: #000;
}
.about-page .container .data-Edu-Exp {
  background-color: #28292beb;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 12px 1px var(--main-color);
  color: white;
  position: relative;
  margin-top: 40px;
}
.about-page .container .data-Edu-Exp::before {
  content: "";
  height: calc(100% - 75px);
  position: absolute;
  width: 3px;
  background-color: var(--main-color);
}
.about-page.lightmode .container .data-Edu-Exp {
  background-color: #fff;
  box-shadow: 0 0 12px 1px var(--main-color);
  color: rgb(0, 0, 0);
}
.about-page .container .box {
  margin-left: 30px;
  position: relative;
  margin-bottom: 50px;
}
.about-page .container .box::before {
  content: "";
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 4px solid var(--main-color);
  position: absolute;
  left: -36.5px;
  background-color: white;
}
.about-page .container .box p {
  line-height: 1.7;
  color: rgb(120 120 120);
}
.about-page .container .box i {
  margin-right: 10px;
}
.about-page .container .box h4 {
  font-weight: bold;
}
/* @media (max-width: 768px) {
  .about-page.active {
    width: 100%;
    left: 0;
  }
} */
/* end about page */
/* <!-- start services page --> */
.services-page .services-content {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 40px;
  margin-bottom: 40px;
}

.services-page.lightmode .services-content {
  color: #000;
}
.services-page .services-content .box {
  flex-basis: 30%;
  background-color: #28292beb;
  padding: 20px;
  margin: 15px 5px;
  border-radius: 7px;
  text-align: center;
  box-shadow: 0 0 10px 1px var(--main-color);
}
.services-page.lightmode .services-content .box {
  background-color: #fff;
}
.services-page .services-content .box i {
  color: var(--main-color);
  font-size: 40px;
  transition: 0.3s;
  height: 50px;
  width: 50px;
  margin: auto;
}
.services-page .services-content .box i:hover {
  color: #fff;
  border-radius: 50%;
  font-size: 20px;
  background-color: var(--main-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
.services-page .services-content .box p {
  color: #b5b5b5;
  line-height: 1.6;
}
.services-page.lightmode .services-content .box p {
  color: #5e5e5e;
}
@media (max-width: 992px) {
  .services-page .services-content .box {
    flex-basis: 100%;
  }
}
@media (max-width: 768px) {
  .services-page.active {
    width: 100%;
    left: 0;
  }
}
/* <!-- end services page --> */
/* <!-- start porfolio section --> */
.portfolio-content {
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.portfolio.lightmode .portfolio-content {
  color: #000;
}
.portfolio h2 {
  margin: 64px 0;
  text-align: center;
  color: var(--main-color);
  margin: 64px 0 20px;
  font-weight: bold;
}
.portfolio > hr {
  margin-bottom: 20px;
}
.portfolio-content .project {
  flex-basis: 32%;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  margin-bottom: 20px;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 6px 1px var(--main-color);
}

@media (max-width: 992px) {
  .portfolio-content .project {
    flex-basis: 48%;
  }
}
@media (max-width: 576px) {
  .portfolio-content .project {
    flex-basis: 98%;
  }
}
.portfolio-content .project img {
  max-width: 100%;
  transition: 0.3s;
  min-height: 100%;
}
.portfolio-content .pophover {
  position: absolute;
  background-color: var(--main-color);
  width: 100%;
  text-align: center;
  bottom: -75px;
  transition: 0.3s;
  z-index: 2;
  color: #fff;
}
.portfolio-content .project:hover .pophover {
  bottom: 0;
}
.portfolio-content .project:hover img {
  transform: scale(1.1) rotate(3deg);
}
.portfolio .popup-box {
  display: none;
}
.portfolio .popup-box.active {
  display: block;
}
.portfolio .popup-box .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000000a7;
  z-index: 5;
}
.portfolio .popup-box .popup-content i {
  position: absolute;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  right: 10px;
  top: 10px;
  color: #fff;
  cursor: pointer;
  caret-color: transparent;
}
.portfolio .popup-box .popup-content i:hover {
  box-shadow: 0 0 6px 4px red;
}
.portfolio .popup-box .popup-content {
  position: fixed;
  color: #fff;
  z-index: 10;
  width: 450px;
  left: calc(50% + 150px);
  transform: translateX(-50%) translateY(-50%);
  top: 50%;
  padding: 20px;
  border-radius: 15px;
  border: 4px solid var(--main-color);
  background-color: #28292b;
}
.portfolio .popup-box .popup-content h2 {
  margin: 0 0 20px;
}

.portfolio.lightmode .popup-box .popup-content {
  background-color: #fff;
  color: #000;
}

.portfolio .popup-box .popup-content hr {
  background-color: var(--main-color);
}
.portfolio .popup-box .popup-content p {
  line-height: 1.5;
}
.portfolio .popup-box .popup-content a {
  font-weight: bold;
  text-decoration: none;
  color: white;
}
.portfolio .popup-box .popup-content div {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
}
.portfolio .popup-box .popup-content div span {
  padding: 10px;
  border-radius: 10px;
  background-color: var(--main-color);
  border: 3px solid #888888;
}
.portfolio .popup-box .popup-content div span:hover {
  box-shadow: 0 0 12px 1px var(--main-color);
}
@media (max-width: 768px) {
  .portfolio .popup-box .popup-content {
    left: 50%;
  }
}
@media (max-width: 576px) {
  .portfolio .popup-box .popup-content {
    max-width: 350px;
  }
}
@media (max-width: 300px) {
  .portfolio .popup-box .popup-content {
    max-width: 260px;
  }
  .portfolio .popup-box .popup-content h3 {
    text-align: start;
  }
}
/* <!-- end porfolio section --> */
/* <!-- start contact section --> */
.contactme .contact-content {
  color: #fff;
}
.contactme.lightmode .contact-content {
  color: #000;
}
.contactme h2 {
  text-align: center;
  color: var(--main-color);
  font-weight: bold;
  margin-top: 60px;
}
.contactme h4 {
  text-align: center;
  margin-bottom: 60px;
}
.contactme .contact-content .contacts-media {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contactme .contacts-media .box-contact {
  text-align: center;
  width: 200px;
  margin-bottom: 50px;
}
.contactme .contacts-media .box-contact i {
  color: var(--main-color);
  font-size: x-large;
  font-weight: bold;
}
.contactme .contacts-media .box-contact p {
  letter-spacing: 1.3px;
}
.contactme .contact-content form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.contactme .contact-content form input,
.contactme .contact-content form textarea {
  margin: 5px;
  padding: 8px;
  border-radius: 17px;
  outline: 0;
  border: 2px solid var(--main-color);
  background-color: #28292bdb;
  caret-color: var(--main-color);
}
.contactme.lightmode .contact-content form input,
.contactme.lightmode .contact-content form textarea {
  background-color: #fff;
}
.contactme .contact-content form input:hover,
.contactme .contact-content form textarea:hover {
  box-shadow: 0 0 5px 2px var(--main-color);
}
.contactme .contact-content form input:nth-child(1) {
  width: calc(50% - 10px);
}
.contactme .contact-content form input:nth-child(2) {
  width: calc(50% - 10px);
}
@media (max-width: 768px) {
  .contactme .contact-content form input:nth-child(1) {
    width: calc(100% - 10px);
  }
  .contactme .contact-content form input:nth-child(2) {
    width: calc(100% - 10px);
  }
}
.contactme .contact-content form input:nth-child(3) {
  display: block;
  width: calc(100% - 10px);
}
.contactme .contact-content form textarea {
  width: calc(100% - 10px);
  height: 120px;
}
.contactme .contact-content form input[type="submit"] {
  margin-top: 20px;
  color: #fff;
  background-color: var(--main-color);
  font-weight: 500;
  cursor: pointer;
}
/* <!-- end contact section -->  */
